$main_color: #0202c7;
$gradient_bg: linear-gradient(0deg, rgba(1,1,68,1) 0%, rgba(1,1,114,1) 100%);
$dark_blue: #010144;
$hover_color: #727201;
$montserrat_black: 900;



#navigation-bar {
    padding: 0 7%;
    background: rgb(1,1,68);
    background: $gradient_bg;
    border-bottom: 3px solid #010144;
    box-shadow: 0 2px 5px #000;
    position: sticky;
    z-index: 10;
}


.psu-logo-offcanvas {
    width: 20%;
}


.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: $hover_color;
}


.psu-logo-nav {
    width: 30%;
}


.navbar-toggler {
    border-radius: 0;
    border-width: 5px;
}


.navbar-toggler:hover, .close-offcanvas:hover{
    background-color: $hover_color;
}


.offcanvas {
    color: #fff;
}


.offcanvas-header {
    background: rgb(1,1,68);
    background: $gradient_bg;
    box-shadow: 0 3px 5px #000;
}


.menu-link {
    border-bottom: 1px solid $dark_blue;
    padding: 1rem;
    color: #000;
    transition: transform 0.3s;
}


.menu-link:hover {
    color: $hover_color;
    transform: translate(10px);
}


.logout-button {
    padding: 1rem 0;
    text-align: center;
    background-color: $dark_blue;
    color: #fff;
}


.logout-button:hover {
    color: $hover_color;
}


/* Userinfo */

#userinfo {
    padding: 2% 7%;
    background-color: #fff;
    position: relative;
    z-index: 0;
}


.psu-id {
    font-weight: 900;
    font-size: 3rem;
}


.psu-name {
    font-weight: 600;
    font-size: 1rem;
}


.psu-course {
    font-weight: 400;
    font-size: 1.5rem;
}


/* Footer */

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    color: #fff;
    background-color: $dark_blue;
    text-align: center;
    font-size: 0.5rem;
}


.footer-container {
    padding: 1% 7%;
}