{% extends 'base.html' %}
<!-- HEAD -->
{% block title %}Login Page{% endblock %}
<!-- BODY -->
{% block body %}
<div class="row">
    <div class="background-image col-sm-6">
        <img src="" alt="PSU URDANETA BG IMAGE">
    </div>
    <div class="login-form-container col-sm-6">
        <div class="login-form text-center">
            <img class="mt-5 mb-5" src="" alt="PSU LOGO">
            <p class="mb-5">STUDENT PORTAL</p>
            <hr>
            <form action="{{ url_for('login_page') }}" method="POST" novalidate>
                {{ login_form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ login_form.psu_id(class = 'form-control', placeholder='19-UR-1234')}}
                    {{ login_form.psu_id.label(class='form-label', for='psuID') }}
                </div>
                <div class="form-floating mb-3">
                    {{ login_form.password(class='form-control', placeholder='password') }}
                    {{ login_form.password.label(class='form-label') }}
                </div>
                <div class="d-grid">
                    {{ login_form.login(class='btn') }}
                </div>
            </form>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
{% endblock %}