<!-- 
    This template is used for unique pages such as the login page and mainmenu page
 -->

 
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLESHEETS / JAVASCRIPT -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <!-- TITLE -->
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>