html, body {
    height: 100%;
}

.background-image {
    position: relative;
    text-align: center;
    .login-img {
        height: 100%;
        transform: translate(-10%);
        z-index: -1;
        // filter: blur(1.2px);
    }
    .overlay {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        transition: background-color 1s;
    }
    .overlay:hover {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
        .login-quote {
            opacity: 1;
        }
    }
    .login-quote {
        opacity: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0px;
        color: #fff;
        padding: 1rem;
        position: absolute;
        bottom: 2rem;
        left: 5rem;
        z-index: 2;
        transition: opacity 1s;
    }
}


.login-form-container {
    padding: 2rem 3rem;
    position: relative;
    z-index: 10;
    background-color: #fff;

    .login-form {
        width: 100%;
        padding: 4rem 5rem;
        box-shadow: 0 4px 20px;
        height: auto;
    }

    .login-psu-logo {
        margin: 0;
        width: 140px;
    }

    .login-student-portal {
        margin: 3.5rem 0;
    }
}


.login-psu-logo {
    margin: 50px;
}


// For sm Devices (less than 576px)
@media (max-width: 575.98px) {

    .login-form-container {

        .login-form {
            padding: 1rem 2rem;
            height: auto;
        }
    }
}


// For md Devices (less than 768px)
@media (max-width: 767.98px) {

    // Pass
}