$padding-sides: 12rem;

html, body {
    height: 100%;
}


.nav-logo {
    width: 100px;
}


.nav-container {
    padding: 1rem $padding-sides;
}


.content-wrapper {
    padding: 1rem $padding-sides;

    .profile-pic {
        width: 5rem;
    }
}